In [1]:
import pandas as pd
import numpy as np
import pickle
import json

In [2]:
df= pd.read_csv("cleaned_df.csv")

In [3]:
df.head()

,Unnamed: 0,total_sqft,bath,balcony,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,0,2850.0,4.0,1.0,428.0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1630.0,3.0,2.0,194.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1875.0,2.0,3.0,235.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1200.0,2.0,0.0,130.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1235.0,2.0,2.0,148.0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.drop(columns="Unnamed: 0",axis=1,inplace=True)
df.head()

,total_sqft,bath,balcony,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,1.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,2.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,0.0,130.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,2.0,148.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X= df.drop(columns="price",axis=1)
y= df["price"]

In [6]:
column_names= X.keys()
column_names

Index(['total_sqft', 'bath', 'balcony', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Block Hbr Layout', '5th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=245)

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
X= scaler.fit_transform(X)
X

array([[0.08585859, 0.2       , 0.33333333, ..., 0.        , 0.        ,
        0.        ],
       [0.04478114, 0.13333333, 0.66666667, ..., 0.        , 0.        ,
        0.        ],
       [0.0530303 , 0.06666667, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.03545455, 0.06666667, 0.66666667, ..., 0.        , 0.        ,
        0.        ],
       [0.01723906, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.11111111, 0.26666667, 0.66666667, ..., 0.        , 0.        ,
        0.        ]])

In [8]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import r2_score, mean_absolute_error

In [9]:
x_train,x_test,y_train,y_test= train_test_split(X, y, test_size= 0.25, shuffle= True)

### Linear Rregression

In [10]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)
lr_score= lr_model.score(x_test,y_test)
y_pred= lr_model.predict(x_test)
lr_error= mean_absolute_error(y_test,y_pred)

print("score: {}, mae : {}".format(lr_score,lr_error))

score: 0.8194829281869012, mae : 19.113046362778725

### Lasso Regression

In [11]:
from sklearn.linear_model import Lasso
ls_model = Lasso()
ls_model.fit(x_train,y_train)
ls_score= ls_model.score(x_test,y_test)
y_pred= ls_model.predict(x_test)
ls_error= mean_absolute_error(y_test,y_pred)

print("score: {}, mae : {}".format(ls_score,ls_error))

score: 0.4910160667112675, mae : 32.545820677537165

### Randon Forest Regressor

In [12]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor()
rf_model.fit(x_train,y_train)
rf_score= rf_model.score(x_test,y_test)
y_pred= rf_model.predict(x_test)
rf_error= mean_absolute_error(y_test,y_pred)

print("score: {}, mae : {}".format(rf_score,rf_error))

score: 0.7877252550300844, mae : 19.67511723417045

### XGB

In [13]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor()
xgb_model.fit(x_train,y_train)
xgb_score= xgb_model.score(x_test,y_test)
y_pred= xgb_model.predict(x_test)
xgb_error= mean_absolute_error(y_test,y_pred)

print("score: {}, mae : {}".format(xgb_score,xgb_error))

score: 0.8346423884547478, mae : 17.665346576160566

### average scores of all models

In [32]:
model_1= LinearRegression()
model_2= Lasso()
model_3= RandomForestRegressor()
model_4= XGBRegressor()

models= [model_1,model_2,model_3,model_4]

avg_score=[]


for model in models:
    kf= KFold(shuffle=True)
    result= cross_val_score(model,X,y,cv=kf)
    result= round(np.mean(result)*100,2)
    avg_score.append(result)

In [33]:
avg_score

[83.46, 52.3, 75.39, 74.66]

In [34]:
scores_df = pd.DataFrame({"model":["linear_reg","Lasso","Ran_forest","XGB"],"scores":[lr_score,ls_score,rf_score,xgb_score],
                          "mae":[lr_error,ls_error,rf_error,xgb_error],
                          "avg_score":avg_score})
scores_df

        model    scores        mae  avg_score
0  linear_reg  0.819483  19.113046      83.46
1       Lasso  0.491016  32.545821      52.30
2  Ran_forest  0.787725  19.675117      75.39
3         XGB  0.834642  17.665347      74.66

we see the linear model is performing well here

In [35]:
pickle.dump(lr_model,open("linear_model.pkl","wb"))
loaded_model= pickle.load(open("linear_model.pkl","rb"))

In [36]:
loaded_model.score(x_test,y_test)

0.8194829281869012

In [38]:
pickle.dump(scaler,open("scaler.pkl","wb"))

In [39]:
columns= {
    "data_column":[col.lower() for col in column_names]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [41]:
f = open('columns.json',)
   
data = json.load(f)
f.close()

col_list= data["data_column"]
arr= np.array(col_list)

loaded_scaler= pickle.load(open("scaler.pkl","rb"))

In [42]:

def test_predict(total_sqft, bath, balcony, bhk,location):
    arr_input= np.zeros(len(col_list))
    arr_input[0]= total_sqft
    arr_input[1]= bath
    arr_input[2]= balcony
    arr_input[3]= bhk
    
    
    location_prep= location.lower()
    
    idx= np.where(arr==location_prep)[0][0]
    arr_input[idx]=1
    
    arr_input= arr_input.reshape(1,-1)
    
    arr_input= loaded_scaler.transform(arr_input)
    result= loaded_model.predict(arr_input)
    return result

In [43]:
test= test_predict(3300,4,2,4,"Rajaji Nagar")
print(test)

[412.38696914]